.table {
  min-width: 100px;
  min-height: 100px;
  font-size: 64px;
  text-align: center;
  color: #1CDBF5;
  font-weight: bolder;
  padding: 30px;
}

.table-aqua {
  color: #2a59da;
}

.table-white {
  color: #fefefe;
}

@media (max-width: 600px) {
  .table {
    min-width: 80px;
    min-height: 80px;
    font-size: 32px;
    font-weight: bolder;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}